<%- include('partials/header') %>
<div class="header-container">
    <a href="/"><span>Notes</span></a>    
</div>

<div class="row register-container">
    <div class="col-lg-4 register-form-container">
        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

        <form class="mx-1 mx-md-4" method="post" action="/register" >

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <input type="text" id="form3Example1c" name="Name" class="form-control" placeholder="Your Name" required />
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <input type="email" id="form3Example3c" name="username" class="form-control"placeholder="Your Email" required />
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <input type="password" id="form3Example4c" name="password" class="form-control" placeholder="Password" required />
            </div>
          </div>

          <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <button type="submit" class="btn btn-warning btn-lg register-btn">
                Register
            </button>
          </div>

        </form>

        <div class="d-flex align-items-center justify-content-center pb-4 mt-4">
            <p class="mb-0 me-2">Already have an account</p>
            <a href="/login">Login</a>
        </div>
    </div>
</div>

<%- include('partials/footer') %>